# {
#     auto_https off
# }
http://localhost {
    # CORS headers
    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials "true"
    }

    # Grafana Dashboard
    handle /dashboard* {
        reverse_proxy grafana:3000
    }

    # Auth service routes
    handle /api/auth/* {
        uri strip_prefix /api/auth
        reverse_proxy auth-service:4000
    }

    # User service routes
    handle /api/user/* {
        uri strip_prefix /api/user
        reverse_proxy user-service:5000
    }

    # Frontend - everything else (fallback)
    handle {
        reverse_proxy frontend:80
    }
}
